[Interface]
PrivateKey = {{.LocalPrivateKey}}
Address = {{.LocalAddress}}

[Peer]
PublicKey = {{.PeerPubKey}}
AllowedIPs = {{range $index, $element := .AllowedIPs}}{{if $index}},{{end}}{{$element}}{{end}}
Endpoint = {{.EndPointAndPort}}
PersistentKeepalive = 25